form{
	font-family:arial, helvetica, sans-serif;
	background:silver;
	padding:15px;
	border-radius:10px;
	Width: 700px;
	left: 50%;
	margin: 0 auto;
}

#boton-enviar{
	width: 172px;
	height: 33px;
	font-weight: bold;
	cursor: pointer;
}
.button {
  background-color: #a39ca3;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  cursor: pointer;
  border-radius: 12px;
}

.btn-warning {
  color: #ffffff;
  background-color: #DA81F5; 
  border-color: #DF01D7;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
div.ext1{
	font-family:arial, helvetica, sans-serif;
  font-size: 15px;
	background:silver;
	padding:15px;
	border-radius:8px;
	Width: 1030px;
	left: 50%;
	margin: 0 auto;
}
div.der{
  text-align: right
}

a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}


h1{
	text-align:center;
	font-family:arial, helvetica, sans-serif;
}

.table {
    border-collapse: collapse;
    width: 100%
}

th,td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}

th{
  background-color: #9e95ad;
    color: white;
}

body {
    font: 18px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; /* /21px */
}

.ejemp h2, .ejemp label {
  font-family:Georgia, Times, "Times New Roman", serif;
}

.notifi {
  font-size: 11px;
}


@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 2cm .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}